<!-- wp:template-part {"slug":"header","theme":"bakery-and-pastry","tagName":"header"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/header-008"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/content-010"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/content-011"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/content-012"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/content-013"} /-->

<!-- wp:pattern {"slug": "bakery-and-pastry/content-014"} /-->


<!-- wp:group {"style":{"spacing":{"padding":{"left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small","top":"var:preset|spacing|superbspacing-medium","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--superbspacing-medium);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:0;padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:heading {"fontSize":"superbfont-xlarge"} -->
<h2 class="wp-block-heading has-superbfont-xlarge-font-size">LATEST POSTS</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":15,"query":{"perPage":"3","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-small"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"2px"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"margin":{"top":"5px","bottom":"0px"}}},"fontSize":"superbfont-medium"} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"top":"10px","bottom":"10px"}},"typography":{"fontSize":"16px"},"elements":{"link":{"color":{"text":"var:preset|color|featured"}}}},"textColor":"featured"} /-->

<!-- wp:post-excerpt {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontSize":"16px"}},"textColor":"secondary"} /-->

<!-- wp:read-more {"content":"CONTINUE READING","style":{"spacing":{"padding":{"top":"10px","right":"20px","bottom":"10px","left":"20px"}},"typography":{"fontSize":"14px","letterSpacing":"1px"}},"backgroundColor":"contrast","textColor":"base"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug": "bakery-and-pastry/cta-005"} /-->

<!-- wp:template-part {"slug":"footer","theme":"bakery-and-pastry","area":"footer"} /-->